{% extends "home.html" %}

<style>
  {% block style %}

  .moduleDescription1
  {
	width:45%;
	height:500px;
	float:left;
	background-color:;
	text-align: center;
	margin-top: 10%;
  }

  .moduleDescription2
  {
	width:55%;
	height:500px;
	float:right;
	background-color:;
	margin-top: 5%;
  }


  {% endblock %}
</style>

{% block content %}



<div class="container-fluid">

	<a href="{% url 'index' %}"><i class="fa fa-chevron-left fa-3x" style="color:#20C05C;" width="240" height="240"></i></a>
	<div class="row">

	<div class="moduleDescription1" style="">
		  <i class="fa fa-desktop  fa-5x" style="color:#20C05C;" width="240" height="240"></i> 
          <h2>AppWindow</h2>
	</div>

	<div class="moduleDescription2" style="">
			<p style="font-size:1.4em;">

			Is your app stealing from you? Yes, research has shown application developers often track user data. Although this policy is marketed as being able to identify and report bugs, malware applications might take more than what is righteous.
			<br/><br/>

			AppWindow contains a comprehensive list of applications across genres with data related to application permissions. This is crucial to understand the access required by an application to your personal data. Use AppWindow to compare applications and choose the right one and secure your data. After all prevention is better than cure. 



			</p>
	</div>

	</div>
</div>


{% endblock %}