{% extends "home.html" %}

<style>
  {% block style %}

  .moduleDescription1
  {
	width:45%;
	height:500px;
	float:left;
	background-color:;
	text-align: center;
	margin-top: 10%;
  }

  .moduleDescription2
  {
	width:55%;
	height:500px;
	float:right;
	background-color:;
	margin-top: 5%;
  }


  {% endblock %}
</style>

{% block content %}



<div class="container-fluid">

	<a href="{% url 'index' %}"><i class="fa fa-chevron-left fa-3x" style="color:#20C05C;" width="240" height="240"></i></a>
	<div class="row">

	<div class="moduleDescription1" style="">
		  <i class="fa fa-file-text  fa-5x" style="color:#20C05C;" width="240" height="240"></i> 
          <h2>IntelliSight</h2>
	</div>

	<div class="moduleDescription2" style="">
			<p style="font-size:1.4em;">If HackeSense is Batman, IntelliSight is Alfred. The sole purpose of IntelliSight is to generate a human readable report which a user and developer alike can read.
			<br/><br/>
			IntelliSight combines outputs of HackeSense and generates a report on the performance of Apps. On completing static and dynamic analysis, the result is converted to a user readable document and is added to the AppWindow as a version of the application. The AppWindow database is kept in squeaky clean and efficient condition by IntelliSight.</p>
	</div>

	</div>
</div>


{% endblock %}