{% extends "home.html" %}
{% load staticfiles %}

<style>
  {% block style %}



  {% endblock %}
</style>

{% block content %}



 <div class="panel">


            <div class="content fixed">
                <div class="container">


                    <div class="row" style="">
                        <div class="col-md-12">
                            <h2 style="text-align:center;font-family:;color:#333;font-size:35px;">PROJECT GUIDES</h2>
                        </div>
                    </div>



                    <div class="row" style="padding-top:50px;">
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 " style="text-align:center;margin-left:275px;">
                            <img id="devc5" src="{% static 'img/nvb.jpg' %}" class="img-responsive center-block" style="border-radius:50%;" height="150px" width="150px">
                            <br>
                            <h4 style="color:#333;">Prof. N. V. Buradkar</h4>
                            <h5 style="color:#333;"><i class="fa fa-phone" style="color:#2eb398;font-size:1.5em;"></i>&nbsp;+91&nbsp;9822343256</h5>
                            <h5 style="color:#333;"><i class="fa fa-envelope" style="color:#2eb398;font-size:1.5em;"></i>&nbsp;nvburadkar@pict.edu</h5>
                            <h4 style="color:#333;"><i class="" style="color:#2eb398;font-size:1.5em;"></i>&nbsp;PICT</h4>
                        </div>


                        <div class=" col-md-3 col-sm-3 col-lg-3 col-xs-12 " style="text-align:center;">
                            <img id="devc6" src="{% static 'img/gs.jpg' %}" class="img-responsive center-block" style="border-radius:50%;" height="145px" width="145px">
                            <br>
                            <h4 style="color:#333;">Mr. Gaurav Suryagandh</h4>
                            <h5 style="color:#333;"><i class="fa fa-phone" style="color:#2eb398;font-size:1.5em;"></i>&nbsp;+91&nbsp;9860485345</h5>
                            <h5 style="color:#333;"><i class="fa fa-envelope" style="color:#2eb398;font-size:1.5em;"></i>&nbsp;gaurav.suryagandh@gmail.com </h5>
                            <h4 style="color:#333;"><i class="" style="color:#2eb398;font-size:1.5em;"></i>&nbsp;L3Cube</h4>
                        </div>




                    <div class="row" style="margin-top:100px;">
                        <div class="center-on-mob " class="col-md-12">
                            <h2 style="text-align:center;;font-family:Sol Thin;color:white;font-size:52px;">DEVELOPERS</h2>
                        </div>
                    </div>



                    <div class="row" style="padding-top:50px;">
                        
                        <div class=" col-md-3 col-sm-6 col-lg-3 col-xs-12 " style="text-align:center;">
                            <img id="devc1" src="{% static 'img/mb.jpg' %}" class="img-responsive center-block" style="border-radius:50%;" height="200px" width="200px">
                            <br>
                            <h4 style="color:#333;">Meghraj Bendre</h4>
                            <h5 style="color:#333;"><i class="fa fa-phone" style="color:#2eb398;font-size:1.5em;"></i>&nbsp;+91&nbsp;9860473993</h5>
                            <h5 style="color:#333;"><i class="fa fa-envelope" style="color:#2eb398;font-size:1.5em;"></i>&nbsp;bendremeghraj@gmail.com</h5>
                        </div>
                        

                        <div class=" col-md-3 col-sm-6 col-lg-3 col-xs-12 " style="text-align:center;">
                            <img id="devc1" src="{% static 'img/nd.jpg' %}" class="img-responsive center-block" style="border-radius:50%;"  height="200px" width="200px">
                            <br>
                            <h4 style="color:#333;">Nishad Dawkhar</h4>
                            <h5 style="color:#333;"><i class="fa fa-phone" style="color:#2eb398;font-size:1.5em;"></i>&nbsp;+91&nbsp;7507012864</h5>
                            <h5 style="color:#333;"><i class="fa fa-envelope" style="color:#2eb398;font-size:1.5em;"></i>&nbsp;nishad.dawkhar94.com</h5>
                        </div>


                        <div class=" col-md-3 col-sm-6 col-lg-3 col-xs-12 " style="text-align:center;">
                            <img id="devc1" src="{% static 'img/pgb.jpg' %}" class="img-responsive center-block" style="border-radius:50%;"  height="200px" width="200px">
                            <br>
                            <h4 style="color:#333;">Pushkar Badgujar</h4>
                            <h5 style="color:#333;"><i class="fa fa-phone" style="color:#2eb398;font-size:1.5em;"></i>&nbsp;+91&nbsp;8698031637</h5>
                            <h5 style="color:#333;"><i class="fa fa-envelope" style="color:#2eb398;font-size:1.5em;"></i>&nbsp;pushkarbadgujar.com</h5>
                        </div>


                        <div class=" col-md-3 col-sm-6 col-lg-3 col-xs-12 " style="text-align:center;">
                            <img id="devc1" src="{% static 'img/rs.jpg' %}" class="img-responsive center-block" style="border-radius:50%;"  height="200px" width="200px">
                            <br>
                            <h4 style="color:#333;">Rohan Sogani</h4>
                            <h5 style="color:#333;"><i class="fa fa-phone" style="color:#2eb398;font-size:1.5em;"></i>&nbsp;+91&nbsp;8805025818</h5>
                            <h5 style="color:#333;"><i class="fa fa-envelope" style="color:#2eb398;font-size:1.5em;"></i>&nbsp;ronsogani@gmail.com</h5>
                        </div>

                        </div>
                    </div>
                </div>               
            </div>


{% endblock %}