<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.gaana" platformBuildVersionCode="22" platformBuildVersionName="5.1.1-1819727">
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <permission android:name="com.gaana.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.gaana.permission.C2D_MESSAGE"/>
    <permission android:label="Fortumo Payment Status " android:name="com.gaana.PAYMENT_BROADCAST_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.gaana.PAYMENT_BROADCAST_PERMISSION"/>
    <uses-feature android:glEsVersion="0x20000" android:required="true"/>
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application android:allowBackup="false" android:icon="@drawable/gaana_logo" android:label="@string/app_name" android:largeHeap="true" android:name="com.gaana.application.GaanaApplication">
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:name="com.gaana.GaanaActivity" android:screenOrientation="portrait" android:theme="@style/GaanaAppTheme" android:windowSoftInputMode="adjustPan|stateHidden">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.gaana.GaanaActivity"/>
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="net.hockeyapp.android.UpdateActivity"/>
        <activity android:label="@string/app_name" android:name="com.gaana.SplashScreenActivity" android:noHistory="true" android:screenOrientation="portrait" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="gaana"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="gaanagoogle"/>
            </intent-filter>
            <intent-filter>
                <data android:host="gaana.com" android:scheme="https"/>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="com.google.android.apps.plus.VIEW_DEEP_LINK"/>
                <data android:scheme="vnd.google.deeplink"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <data android:host="gaana.com" android:scheme="http"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <data android:host="touch.gaana.com" android:scheme="https"/>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <data android:host="touch.gaana.com" android:scheme="http"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <data android:host="get.gaana.com" android:scheme="http"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <data android:host="get.gaana.com" android:scheme="https"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <data android:host="www.get.gaana.com" android:scheme="http"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <data android:host="www.get.gaana.com" android:scheme="https"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <data android:host="www.gaana.com" android:scheme="https"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <data android:host="www.gaana.com" android:scheme="http"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <data android:host="m.gaana.com" android:scheme="https"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <data android:host="m.gaana.com" android:scheme="http"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <data android:host="ipad.gaana.com" android:scheme="https"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <data android:host="ipad.gaana.com" android:scheme="http"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.apps.plus.VIEW_DEEP_LINK"/>
                <data android:scheme="vnd.google.deeplink"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.MUSIC_PLAYER"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.music.PLAYBACK_VIEWER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity-alias android:enabled="true" android:icon="@drawable/gaana_logo" android:label="@string/app_name" android:name="com.gaana.SplashScreenActivity-Original" android:targetActivity="com.gaana.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity android:name="com.gaana.OnBoardLanguagePreferenceActivity" android:screenOrientation="portrait" android:theme="@style/OnboardLanguageTheme"/>
        <activity-alias android:enabled="false" android:icon="@drawable/gaana_logo_mmx" android:label="@string/app_name_mmx" android:name="com.gaana.SplashScreenActivity-MMX" android:targetActivity="com.gaana.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity android:configChanges="orientation|screenSize" android:name="com.gaana.WebViewActivity" android:theme="@style/GaanaAppTheme"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.google.android.gms.ads.AdActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent"/>
        <receiver android:name="mp.MpSMSReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <service android:name="mp.MpService"/>
        <service android:name="mp.StatusUpdateService"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="mp.MpActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:name="com.gaana.PaymentStatusReceiver" android:permission="com.gaana.PAYMENT_BROADCAST_PERMISSION">
            <intent-filter>
                <action android:name="mp.info.PAYMENT_STATUS_CHANGED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService"/>
        <receiver android:exported="true" android:name="com.gaana.GaanaCampaignTrackingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.services.NetworkChangeBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.apsalar.sdk.ApsalarReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:name="com.services.FileDownloadService"/>
        <service android:name="com.player_framework.GaanaMusicService"/>
        <receiver android:name="com.player_framework.MediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.player_framework.HeadsetPlugIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.HEADSET_PLUG"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.managers.AlarmManagerBroadcastReceiver"/>
        <activity android:label="@string/app_name" android:name="com.facebook.LoginActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <receiver android:exported="true" android:name="com.google.android.gms.gcm.GcmReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter android:priority="1">
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.gaana"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.gcm.GaanaGcmListenerService">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.gcm.GaanaInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.gcm.RegistrationIntentService"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.gaana.Login" android:screenOrientation="portrait" android:theme="@style/GaanaAppTheme" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:launchMode="singleTop" android:name="com.gaana.CoachMarksActivity" android:screenOrientation="portrait" android:theme="@style/CoachMarkTheme"/>
        <activity android:name="com.gaana.InitiateAdsActivity" android:screenOrientation="portrait" android:theme="@style/AppJacketTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="seventynine.sdk.DisplayAds" android:noHistory="true" android:screenOrientation="portrait" android:theme="@style/AppJacketTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.gaana.CustomDisplayAds" android:noHistory="true" android:screenOrientation="portrait" android:theme="@style/AppJacketTheme"/>
        <activity android:name="com.gaana.AudioAdActivity" android:screenOrientation="portrait" android:theme="@style/GaanaAppTheme" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="seventynine.sdk.InAppBrowser"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:name="com.paytm.pgsdk.PaytmPGActivity" android:screenOrientation="portrait"/>
        <receiver android:enabled="true" android:exported="true" android:name="seventynine.sdk.ReceiverScreen">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.REBOOT"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="APP_ID" android:value="4HX1BEIV7XX4VK1BGDIA8OMX"/>
        <receiver android:name="com.moe.pushlibrary.PushGcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.gaana"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.moe.pushlibrary.AppUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.gaana.moengage.provider" android:exported="false" android:name="com.moe.pushlibrary.providers.MoEProvider"/>
        <meta-data android:name="SENDER_ID" android:value="id:776891288343"/>
        <meta-data android:name="NOTIFICATION_ICON" android:value="gaana_logo_notif"/>
        <meta-data android:name="NOTIFICATION_LARGE_ICON" android:value="gaana_logo"/>
        <meta-data android:name="NOTIFICATION_TYPE" android:value="@integer/notification_type_multiple"/>
        <meta-data android:name="NOTIFICATION_COLOR" android:value="notification_color_filler"/>
        <meta-data android:name="NOTIFICATION_TONE" android:value="@raw/bajnachahiyegaana"/>
        <activity android:name="com.moe.pushlibrary.activities.MoEActivity" android:parentActivityName="com.gaana.SplashScreenActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.gaana.SplashScreenActivity"/>
        </activity>
        <activity android:name="com.gaana.OnBoardCoachmarkActivity" android:screenOrientation="portrait" android:theme="@style/SplashTheme"/>
        <activity android:name="com.gaana.MusicPickerActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.PICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.OPENABLE"/>
                <data android:mimeType="vnd.android.cursor.dir/audio"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="true" android:name="com.gaana.GaanaAudioPreview" android:screenOrientation="portrait" android:taskAffinity="" android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="application/ogg"/>
                <data android:mimeType="application/x-ogg"/>
                <data android:mimeType="application/itunes"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="application/ogg"/>
                <data android:mimeType="application/x-ogg"/>
                <data android:mimeType="application/itunes"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="content"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="application/ogg"/>
                <data android:mimeType="application/x-ogg"/>
                <data android:mimeType="application/itunes"/>
            </intent-filter>
        </activity>
        <activity android:name="com.google.android.gms.ads.purchase.InAppPurchaseActivity" android:theme="@style/Theme.IAPTheme"/>
        <activity android:configChanges="locale|layoutDirection|orientation|screenSize" android:name="com.helpshift.HSConversation" android:theme="@style/Helpshift.Theme.Activity"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.helpshift.HSQuestionsList" android:theme="@style/Helpshift.Theme.Activity"/>
        <activity android:configChanges="orientation|screenSize" android:hardwareAccelerated="true" android:name="com.helpshift.HSQuestion" android:theme="@style/Helpshift.Theme.Activity"/>
        <activity android:configChanges="orientation|screenSize" android:hardwareAccelerated="true" android:name="com.helpshift.HSSection" android:theme="@style/Helpshift.Theme.Activity" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="orientation|screenSize" android:hardwareAccelerated="true" android:name="com.helpshift.HSFaqs" android:theme="@style/Helpshift.Theme.Activity" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.helpshift.HSReview" android:theme="@style/Helpshift.Theme.Dialog"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.helpshift.ScreenshotPreviewActivity" android:theme="@style/Helpshift.Theme.Activity"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.helpshift.SearchResultActivity" android:theme="@style/Helpshift.Theme.Activity"/>
        <service android:label="Helpshift Service" android:name="com.helpshift.HSService"/>
        <service android:label="Helpshift Service" android:name="com.helpshift.HSRetryService"/>
        <activity android:configChanges="orientation|screenSize" android:exported="true" android:name="com.moe.pushlibrary.activities.PushTracker" android:noHistory="true" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <service android:exported="true" android:name="com.moe.pushlibrary.internal.MoEService"/>
        <service android:exported="true" android:name="com.moe.pushlibrary.MoEWorker"/>
        <service android:exported="true" android:name="com.moe.pushlibrary.GeofenceIntentService"/>
        <service android:exported="true" android:name="com.moengage.push.MoEPushWorker"/>
    </application>
</manifest>
